/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
      }

    .container-list-item {
      font-size: larger;
    }

    .visi {
        text-align: center;
    }

    #last {
      margin: -23rem 25%;
      transform: scale(0.8);
    }
    
    #last:hover {
      transform: scale(0.9);
    }  
    
    .tele-logo{
      margin-left: 40%;
    }

    .tele-logo p {
      display: none;
    }
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    .visi {
        text-align: center;
    }

    .header-right {
      display: none;
    }

    .menu {
      display: unset;
      fill: rgb(247, 2, 2);
    }

    #last {
      margin: 0 0;
      transform: scale(1);
    }

    #last:hover {
      
      transform: scale(1.1);
    }

    .tele-logo{
      margin-left: 40%;
    }

    .tele-logo p{
      display: none;
    }
  }