* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 64px 0 1px 0;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgb(46, 46, 31,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 1px;
}
.banner{
  width: 100%;
  margin-top: 1px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.container-animation{
  font-size: 25px;
  /* background-color: rgb(255, 255, 255); */
}



.heading {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h1 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);

}

.lesson:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);

}


.lesson-icon {
  position: relative;


}

.lesson-icon img {
  
  width: 12em;
  border-radius: 200px;
} 


.lesson p {
  color: black;
  font-weight: bold;
  margin-top: 0.45em;
  
}

.heading h1 {
  font-weight: normal;
}

.visi {
  padding: 15px 40px;
  background-color: #5dca88;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 100px;
  position: relative;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color : rgba(46, 31, 31, 0.9);
}

.tele-logo {
  display: flex;
}

.tele-logo p {
  margin-top: 1.2rem;
  margin-left: -1rem;
  font-weight: bolder;
  font-size: 12px;
  color: white;
}

.tele-logo img:hover {
  transform: rotate(45deg);

}

.menu {
  color: red;
 float: right;
 margin-right: -15px;
 height: 65px;
 width: 50px;
display: none;


}
